header {
    padding-left: 5rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-size: 1rem;
    h1 {
        font-size: 2rem;
        &:hover {
            color: red;
        }
    }
    .searchbox {
        border: none;
        display: inline-flex;
        height: auto;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        
    }
}
.searchbtn {
    height: 3rem;
    font-weight: bold;
    background-color: transparent;
    transition: 1s;
    width: 5rem;
    font-size: medium;
    border: none;
    color: black;
    &:hover {
        color: white;
        width: 15rem;
        background-color: gray;
    }
}